001_BPP/Solutions/
001_BPP/Data/
001_BPP/Helpers/bpp_converter/Scholl_1_dzn/
001_BPP/Helpers/bpp_converter/Falkenauer_U_dzn/
001_BPP/Helpers/bpp_converter/.vscode/
001_BPP/Helpers/bpp_converter/.venv/
001_BPP/Helpers/bpp_converter/__pycache__/